.text-center {
  text-align: center;
}

@media only screen and (min-width: 1101px) {
  body {
    font-size: 24px;
  }
  .size-54 {
    font-size: 54px;
  }

  .size-48 {
    font-size: 48px;
  }

  .size-42 {
    font-size: 42px;
  }

  .size-36 {
    font-size: 36px;
  }

  .size-32 {
    font-size: 32px;
  }

  .size-24 {
    font-size: 24px;
  }
  .size-18 {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1100px) {
  body {
    font-size: 20px;
  }

  .size-54 {
    font-size: 44px;
  }

  .size-48 {
    font-size: 36px;
  }

  .size-42 {
    font-size: 32px;
  }

  .size-36 {
    font-size: 28px;
  }

  .size-32 {
    font-size: 24px;
  }

  .size-24 {
    font-size: 20px;
  }

  .size-18 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }

  .size-54 {
    font-size: 28px;
  }

  .size-48 {
    font-size: 26px;
  }

  .size-42 {
    font-size: 24px;
  }

  .size-36 {
    font-size: 24px;
  }

  .size-32 {
    font-size: 20px;
  }

  .size-24 {
    font-size: 16px;
  }

  .size-18 {
    font-size: 14px;
  }
}