$spacer: 5;
$spacer-mobile: 3;

@for $i from 1 through 20 {
  .m-#{$i} {
    margin: #{$spacer * $i}px;
  }
  .mt-#{$i} {
    margin-top: #{$spacer * $i}px;
  }
  .mb-#{$i} {
    margin-bottom: #{$spacer * $i}px;
  }
  .mr-#{$i} {
    margin-right: #{$spacer * $i}px;
  }
  .ml-#{$i} {
    margin-left: #{$spacer * $i}px;
  }
  .mx-#{$i} {
    margin: 0 #{$spacer * $i}px;
  }
  .my-#{$i} {
    margin: #{$spacer * $i}px 0;
  }
}

.m-heading {
  margin-top: 150px;
}

@media only screen and (max-width: 600px) {
  .m-heading {
    margin-top: 70px;
  }
  @for $i from 1 through 20 {
    .m-#{$i} {
      margin: #{$spacer-mobile * $i}px;
    }
    .mt-#{$i} {
      margin-top: #{$spacer-mobile * $i}px;
    }
    .mb-#{$i} {
      margin-bottom: #{$spacer-mobile * $i}px;
    }
    .mr-#{$i} {
      margin-right: #{$spacer-mobile * $i}px;
    }
    .ml-#{$i} {
      margin-left: #{$spacer-mobile * $i}px;
    }
    .mx-#{$i} {
      margin: 0 #{$spacer-mobile * $i}px;
    }
    .my-#{$i} {
      margin: #{$spacer-mobile * $i}px 0;
    }
  }
}